// variables
menuHeight = 80px
contentWidth = 500px
contentLRPadding = 70px
contentLMargin = 133px
inlineCodeColor = #590532

a
 cursor pointer

a:link, a:visited
 text-decoration none
 font-weight light
 font-style italic
 opacity 0.85
 color #321925
 padding 1px

a:hover, a:active
 text-decoration none
 color #321925

body
 font-family sourceSansPro
 margin 0
 padding 0
 height 100%

.container p
 font-style light
 word-wrap break-word
 text-align justify

.container p:last-child
 padding-bottom 60px

.container ol
 font-style light
 list-style-type decimal

.container li
 display list-item

.container a:link
 padding 0px

.container a:hover
 color #321925
 opacity 0.5

div.allPages
 width 400px
 margin-left 20px
 position fixed
 top menuHeight
 left (contentWidth + contentLMargin + 2*contentLRPadding)

div.background
 background-image url('../images/inverted.jpg') 
 position fixed
 background-size auto
 left 0px
 top 0px
 width 100%
 height 100%

div.container
 position relative
 top 22px
 float left
 width contentWidth
 margin-left contentLMargin
 background-color white
 padding 0px contentLRPadding 100px
 opacity 0.8
 bottom 0px

div.linkContain
 display none
 width 100%
 height 31%
 position relative

div.links 
 top -60px
 position relative
 font-weight bold
 font-style italic
 left 0px
 
div.links a:link, a:visited
 color #321925
 padding 1px

div.links a:hover, a:active
 color white

div.logo img
 float left
 position relative
 padding 0
 left 10px
 top 12px
 margin-right 35px
 margin-left 10px

div.menu
 background-image url('../images/header2.jpg') 
 left 0px
 top 0px
 position fixed 
 background-size cover
 width 100%
 height menuHeight
 padding 1px
 margin 0
 z-index 2

div.tag
 font-weight light
 padding-top 3px
 font-size 53px
 margin-right 20px

div.text
 position relative
 left 50%
 top 2px

div.title
 font-style light
 font-size 60px
 color #321925
 top 70px
 left 64%

@font-face
 font-family sourceSansPro
 src url('../source-sans-pro/SourceSansPro-Light.otf') 
 font-weight light
 font-style normal

@font-face
 font-family sourceSansPro 
 src url('../source-sans-pro/SourceSansPro-LightIt.otf')
 font-weight light
 font-style italic

@font-face
 font-family sourceSansPro 
 src url('../source-sans-pro/SourceSansPro-It.otf')
 font-weight bold
 font-style italic 

header
 font-style light
 color #321925
 font-size 35px 
 padding-top 130px

hr
 margin-top 70px

.iframeContainer
	width 500px
	height 304px

img
 padding 10px 2px 5px
 margin 0 auto
 display block

.innerTableContainer
 display table-cell
 text-align center
 vertical-align middle

li
 display inline 
 padding 20px

.links ul
 display flex
 flex-direction column
 flex-wrap wrap
 height 450px
 width 150px

.links li
 width 200px
 height 5px
 text-align left
 font-size 20px
 font-weight bold
 padding 20px 10px

.menu ul
 top -50%

.menu li a:link, .menu li a:visited
 color #FFFFFF

.menu li a:hover, .menu li a:active
 color #321925

.pageImg
 border 2px solid rgba(20,150,255,0.5)
 margin-left 20px
 padding 5px
 width 90%

.pingMessage
 display inline-block
 margin-left 10px

pre.prettyprint, code.prettyprint
 border-radius 8px
 padding-bottom 5px
 padding-left 5px
 padding-top 5px

.serverAddress
 display inline-block
 width 300px

.serverName
 display inline-block
 width 200px

span
 color inlineCodeColor

.status
 width 10px
 height 10px
 display inline-block
 border-radius 10px
 background-color #888888

.tag a:link, .tag a:visited
 color white
 font-style normal

#tagservers
 margin-left 0px

.thumbnailContainer
 display table

.thumbnailImg
 display inline-block
 margin-left 20px
 width 110px

ul#navbar
 left 45%

ul.sections
 position relative
 font-weight light
 font-style italic
 list-style-type none
 top -38%
 font-size 18px

.visible
 margin 0