h1 = title
p Welcome to #{title}

form(method='post', action='/documents')
        | Username:
        input(name="username", type="text")
        br
        | Password:
        input(name="password", type="password")
        br
        | Are you woking for TAG?
        input(name="tag", type="checkbox")
        br
        input(value="Submit", type="submit")
        
footer
      p Running on node with Express, Jade and Stylus

