// head from header.jade

head
    meta(charset="utf-8")
    title TAG web test
    
    // WinJS
    link(href="//Microsoft.WinJS.1.0/css/ui-dark.css", rel="stylesheet")
    script(src="//Microsoft.WinJS.1.0/js/base.js")
    script(src="//Microsoft.WinJS.1.0/js/ui.js")
    
    // Bing Maps
    script(src="ms-appx:///Bing.Maps.JavaScript//js/veapicore.js")
    script(src="ms-appx:///Bing.Maps.JavaScript//js/veapimodules.js")
    
    // styling
    link(href="../../js/JQueryUI/css/ui-darkness/jquerydarkness.css")
    link(href="../../css/default.css")
    style #rinPlayer {margin:0px; padding:0px; width:100%; height:100%; overflow: hidden;}
    
    // generate script tags for each js file
    script(src="../../js/LADS/lads-dev.js")
    script(src="../../js/tests.js")
    script(src="../../js/core.js")

    link(rel="stylesheet", href="../css/artworkViewer.css")
    script(src="../js/artworkViewer.js")