!!! 5
html
    head
        script(src="js/jquery.js")
        // script(src="hammer.js")
        script(src="js/hammer-backup-2.js")
        script(src="js/hammertest.js")
        link(rel="stylesheet", href="css/style.css")
    body
        #box1.hammertestBox 0
        br
        br
        #box2.hammertestBox 0