@import "mixins/common"

blueColor = rgb(50, 75, 107)

#internetFailureRoot
	background-color blueColor
	color black
	width-height 100%
	position fixed
	left-top 0px
	z-index 1000000000

#internetFailureRoot #noticeBox
	width 50%
	height 21%
	top 40%
	right 25%
	position absolute
	background-color blueColor

#internetFailureRoot #noticeLabel
	color white
	font-size 30px
	left-margin 4%
	width 96%

#internetFailureRoot #reconnectButton
	font-size 150%
	position relative
	left 70%
	top 5%

#internetFailureRoot #disagreeButton
	font-size 150%
	position relative
	left 25%
	top 5%

#internetFailureRoot #changeServerButton
	font-size 150%
	position relative
	left 25%
	top 5%