#splashRoot {
  width: 100%;
  height: 100%;
  position: absolute;
}
#splashRoot #background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
}
#splashRoot .overlay {
  width: 100%;
  height: 100%;
position-relative
}
#splashRoot #logoContainer {
  top: 0%;
  right: 0%;
  width: 20%;
  height: 10%;
  position: absolute;
  text-align: center;
}
#splashRoot #logo {
  max-width: 85%;
  max-height: 85%;
  width: auto;
  height: auto;
  top: 7%;
  position: relative;
}
#splashRoot #expandInfoButton {
  height: 100%;
  width: 15%;
  left: 0%;
  border-bottom-left-radius: 20px;
  background: #000;
}
#splashRoot #expandImage {
  top: 35%;
  left: 50%;
  height: 30%;
  width: auto;
  position: relative;
}
#splashRoot #tagName {
  left: 20%;
  top: 10%;
  position: absolute;
  font-size: 270%;
  font-family: arial;
}
#splashRoot #fullTag {
  left: 20%;
  top: 60%;
  position: absolute;
  font-size: 90%;
}
#splashRoot .brownPeople {
  left: 100%;
  top: 50%;
  height: 40%;
  position: absolute;
  font-size: 0%;
}
#splashRoot #sponsoredText {
  position: relative;
  width: 20%;
  height: auto;
  left: 68%;
  top: -100%;
}
#splashRoot #microsoftLogo {
  position: relative;
  width: 20%;
  height: auto;
  left: 68%;
  top: -90%;
}
#splashRoot #divName {
  position: relative;
  word-wrap: break-word;
  width: 100%;
  height: 30%;
  outline-offset: 0;
  outline: 0;
  padding-top: -4%;
}
#splashRoot #museumName {
  height: 100%;
}
#splashRoot #subheading {
  position: relative;
  font-size: 3em;
  word-wrap: break-word;
  width: 100%;
  height: 20%;
}
#splashRoot #spanContainer {
  position: relative;
  word-wrap: break-word;
  width: 100%;
  height: 50%;
}
#splashRoot .infoTextholder {
  top: 0%;
  position: relative;
  padding: 0% 4%;
  height: 100%;
}
#splashRoot .infoDiv {
  width: 100%;
  top: 42%;
  height: 45%;
  position: absolute;
}
#splashRoot #serverTagBuffer {
  width: 23.8%;
  bottom: 0%;
  height: 8%;
  right: 0%;
  position: absolute;
}
#splashRoot #serverSetUpContainer {
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  width: 63%;
  bottom: 0%;
  height: 50%;
  right: 18.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
#splashRoot #serverSetUpLabel {
  color: #fff;
  text-align: center;
  font-size: 130%;
  top: 8%;
  position: relative;
}
#splashRoot #authoringTagBuffer {
  position: absolute;
  width: 23.8%;
  bottom: 0%;
  left: 0%;
  height: 8%;
}
#splashRoot  #authoringModeLabelContainer {
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  width: 63%;
  bottom: 0%;
  height: 50%;
  left: 18.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
#splashRoot #authoringModeIcon {
  color: #fff;
  text-align: center;
  font-size: 130%;
  top: 8%;
  position: relative;
}
#splashRoot #serverCancelButton {
  padding: 1%;
  border: 1px solid #fff;
  width: auto;
  position: relative;
  margin-top: 1%;
  float: right;
}
#splashRoot #touchHint {
  margin-top: 3%;
  margin-left: 10%;
  float: left;
  width: 50%;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-size: 250%;
  opacity: 0.8;
}
#splashRoot #handGif {
  float: right;
  margin-top: 2%;
  margin-right: 20%;
  width: 9%;
  height: auto;
  z-index: 1000000;
}
#splashRoot #touchHintDiv {
  top: 29%;
  width: 100%;
  position: absolute;
  height: 13%;
}
#splashRoot #brownInfoBox {
  top: 10%;
  right: 0%;
  height: 10%;
  width: 20%;
  position: absolute;
  border-bottom-left-radius: 20px;
  background-color: #000;
}
