#content
    width 1100
    margin 0 auto

#widgetContainer
    text-align center

#widgetContainer textarea
    background #222222
    color #ffffff
    width 80%
    height 400px

#descContainer
    width 60%
    margin-left 20%