<!DOCTYPE html>
<head>
<title>prototypal inheritance</title>
</head>
<body>
<button onclick="showBugShot()">Has the bug been shot?</button>
<button onclick="setBugShot(true)">SHOOT THE BUG</button>
<br /><br />
<img id="bugImage" src="./demo_images/bug1.jpg" />
<br /><br />
<button onclick="getGrasshopperShot()">Grasshopper shot?</button>
<button onclick="performTimes()">Component-wise array multiplication</button>
<br /><br />
</body>
</html>