zero = 0px
bodyFont = 16px
demoLinkColor = #aaaaff
orangeColor = #ff9614
images = './images/'

// functions and mixins

createUrl(imgName)
    if mixin
        background url(images+imgName)
    else
        url(images+imgName)
        
createLinGrad(startcolor, endcolor)
    background -webkit-gradient(linear, left top, left bottom, from(startcolor), to(endcolor))
    background linear-gradient(to bottom, startcolor, endcolor)
    
border-radius(r)
    -moz-border-radius r
    -webkit-border-radius r
    -o-border-radius r
    -ms-border-radius r
    -khtml-border-radius r
    border-radius r

sectionOffset(t)
	position absolute
	margin-top t

// styling

*
    margin zero
    padding zero

a
    color demoLinkColor
    text-decoration none

a.link
a.page-tab
    color white

a.plink
    cursor pointer

#annotationContainer
    position absolute
    width 350px

#annotationHeader
    sectionOffset(0px)

#annotations
    sectionOffset(20px)

body
    background createUrl('pattern1.png')
    color white

#closeThreshDiv, #threshDiv
    display inline-block

.container
    background-color black
    border 1px solid black
    color white
    height 400px
    width 600px

#content
    border-left 2px solid orangeColor
    margin-left 260px
    padding-left 20px
    padding-top 20px
    width 800px

#contentWrapper
    createLinGrad(rgba(50,50,50,0.9), rgba(30,30,30,0.9))
    font-family Verdana, sans-serif
    font-size bodyFont
    height 100%
    margin 0 auto
    width 1100px

.descContainer
    margin-left 10%
    width 80%

#footnoteAdd
    sectionOffset(280px)

#footnoteAddHeader
    sectionOffset(260px)

#footnoteHeader
    sectionOffset(200px)

#footnotes
    sectionOffset(220px)

h1.linkhead
    color orangeColor
    text-decoration:underline

h2.linklist
    color #ee7514

.hammertestBox
    background-color green
    border-radius 10px
    color white
    height 100px
    margin 40px
    text-align center
    width 400px

#imageHeader
    sectionOffset(60px)

#images
    sectionOffset(80px)

#images img
    width 200px

.innerTableContainer
    display table-cell
    text-align center
    vertical-align middle

#leftbar
    border-right 2px solid orangeColor
    padding-left 20px
    padding-top 15px
    position absolute
    width 240px

li.linklistitem
    padding-left 10px

#mainSeadragonContainer
    margin-left 10%

ol
    margin-left 40px

ol.nostyle
    list-style none

.page
    display none

.pageanch
    cursor pointer

.pageImg
    border 2px solid rgba(20,150,255,0.5)
    margin-left 20px
    padding 5px
    width 700px

pre.prettyprint, code.prettyprint
    border-radius 8px
    padding-bottom 5px
    padding-left 5px
    padding-top 5px

#pscanvas
    border 1px solid rgba(20,150,255,1.0)
    height 400px
    position
    width 800px

span
    color #dddddd
    font-family courier
    font-size (bodyFont - 1)

#stormtrooper
    margin-left 400px
    position absolute

#thumbnail
    margin-left 400px
    margin-top 280px

.thumbnailContainer
    display table

.thumbnailImg
    display inline-block
    margin-left 20px
    width 110px

#topbar
    border-bottom 2px solid orangeColor
    height 110px
    padding-top 20px
    width 100%

#top-subtext
    color #ffffff
    font-size 20px
    padding-left 30px

#top-text a
    color rgba(20,150,255,1.0)
    font-size 100px
    padding-left 20px

ul
    list-style none

#widgetContainer
    text-align center

#widgetContainer .button
    color #ffffff
    cursor pointer
    display inline-block
    margin 0px 40px 0px 40px

#widgetContainer textarea
    background #222222
    color #ffffff
    height 400px
    width 80%