* {
  margin: 0px;
  padding: 0px;
}
a {
  color: #aaf;
  text-decoration: none;
}
a.link {
  color: #fff;
}
a.plink {
  cursor: pointer;
}
#annotationContainer {
  position: absolute;
  width: 350px;
}
#annotationHeader {
  position: absolute;
  margin-top: 0px;
}
#annotations {
  position: absolute;
  margin-top: 20px;
}
body {
  background: url("./images/pattern1.png");
  color: #fff;
}
#closeThreshDiv,
#threshDiv {
  display: inline-block;
}
.container {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  height: 400px;
  width: 600px;
}
#content {
  border-left: 2px solid #ff9614;
  margin-left: 260px;
  padding-left: 20px;
  padding-top: 20px;
  width: 800px;
}
#contentWrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.9)), to(rgba(30,30,30,0.9)));
  background: linear-gradient(to bottom, rgba(50,50,50,0.9), rgba(30,30,30,0.9));
  font-family: Verdana, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
  width: 1100px;
}
.descContainer {
  margin-left: 10%;
  width: 80%;
}
#footnoteAdd {
  position: absolute;
  margin-top: 280px;
}
#footnoteAddHeader {
  position: absolute;
  margin-top: 260px;
}
#footnoteHeader {
  position: absolute;
  margin-top: 200px;
}
#footnotes {
  position: absolute;
  margin-top: 220px;
}
h1.linkhead {
  color: #ff9614;
  text-decoration: underline;
}
h2.linklist {
  color: #ee7514;
}
.hammertestBox {
  background-color: #008000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  height: 100px;
  margin: 40px;
  text-align: center;
  width: 400px;
}
#imageHeader {
  position: absolute;
  margin-top: 60px;
}
#images {
  position: absolute;
  margin-top: 80px;
}
#images img {
  width: 200px;
}
.innerTableContainer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#leftbar {
  border-right: 2px solid #ff9614;
  padding-left: 20px;
  padding-top: 15px;
  position: absolute;
  width: 240px;
}
li.linklistitem {
  padding-left: 10px;
}
#mainSeadragonContainer {
  margin-left: 10%;
}
ol {
  margin-left: 40px;
}
ol.nostyle {
  list-style: none;
}
.page {
  display: none;
}
.pageanch {
  cursor: pointer;
}
.pageImg {
  border: 2px solid rgba(20,150,255,0.5);
  margin-left: 20px;
  padding: 5px;
  width: 700px;
}
pre.prettyprint,
code.prettyprint {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
#pscanvas {
  border: 1px solid #1496ff;
  height: 400px;
position
  width: 800px;
}
span {
  color: #ddd;
  font-family: courier;
  font-size: 15px;
}
#stormtrooper {
  margin-left: 400px;
  position: absolute;
}
#thumbnail {
  margin-left: 400px;
  margin-top: 280px;
}
.thumbnailContainer {
  display: table;
}
.thumbnailImg {
  display: inline-block;
  margin-left: 20px;
  width: 110px;
}
#topbar {
  border-bottom: 2px solid #ff9614;
  height: 110px;
  padding-top: 20px;
  width: 100%;
}
#top-subtext {
  color: #fff;
  font-size: 20px;
  padding-left: 30px;
}
#top-text a {
  color: #1496ff;
  font-size: 100px;
  padding-left: 20px;
}
ul {
  list-style: none;
}
#widgetContainer {
  text-align: center;
}
#widgetContainer .button {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0px 40px 0px 40px;
}
#widgetContainer textarea {
  background: #222;
  color: #fff;
  height: 400px;
  width: 80%;
}
