#artmodeRoot {
  width: 100%;
  height: 100%;
  position: relative;
}
#artmodeRoot #holder1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
#artmodeRoot #holder2 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  border: #000;
  position: relative;
  text-align: left;
}
#artmodeRoot #holder3 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  border: #000;
  position: absolute;
  text-align: left;
  overflow: hidden;
}
#artmodeRoot .sideBar {
  left: 0px;
  top: 0px;
  position: absolute;
  display: block;
  background-color: rgba(0,0,0,0.85);
  height: 100%;
  z-index: 100;
}
#artmodeRoot .toggler {
  position: absolute;
  top: 45%;
  width: 12%;
  height: 12%;
  background-color: rgba(0,0,0,0.85);
  z-index: 100;
}
#artmodeRoot .togglerImage {
  position: absolute;
  top: 35%;
  left: 20%;
  width: auto;
  height: 30%;
}
#artmodeRoot .backButtonContainer {
  width: 50px;
  height: 50px;
  margin: 10px;
}
#artmodeRoot .backButton {
  width: 100%;
  height: 100%;
}
#artmodeRoot .sideBarSections {
  width: 89%;
  height: 90%;
  left: 5%;
  position: relative;
}
#artmodeRoot .sideBarInfo {
  width: 100%;
  height: 78%;
  margin-bottom: 2%;
}
#artmodeRoot .row1 {
  width: 100%;
  height: 20%;
  margin-bottom: 3%;
}
#artmodeRoot .info {
  font-size: 22px;
  color: #fff;
  width: 100%;
  height: 160%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 7%;
}
#artmodeRoot #infoTitle {
  font-size: 30px;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#artmodeRoot #infoArtist,
#artmodeRoot #infoYear {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#artmodeRoot .midSectionContainer {
  position: relative;
  height: 20%;
  min-height: 115px;
  width: 100%;
  float: left;
  overflow-y: auto;
  padding-right: 7%;
  margin-top: 5%;
}
#artmodeRoot .midSection {
  position: relative;
  width: 100%;
  top: 0%;
  overflow-y: hidden;
}
#artmodeRoot .topfadeout {
  position: absolute;
  display: none;
  top: 25%;
  left: 0px;
  width: 100%;
  height: 5%;
  background: -ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
}
#artmodeRoot .bottomfadeout {
  position: absolute;
  bottom: 20%;
  left: 0px;
  width: 100%;
  height: 5%;
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, #000 100%);
}
#artmodeRoot .divider {
  position: relative;
  height: 6px;
  clear: both;
}
#artmodeRoot #assetContainer {
  overflow: auto;
  height: 45%;
}
#artmodeRoot .locationHistoryIcon {
  width: 9.5%;
  height: auto;
  position: relative;
  display: inline;
  vertical-align: middle;
}
#artmodeRoot .locationHistoryContainer {
  position: relative;
  width: 100%;
  margin-bottom: 0.5%;
  float: left;
}
#artmodeRoot .locationHistory {
  position: relative;
  font-size: 25px;
  left: 5%;
  display: inline;
  vertical-align: middle;
}
#artmodeRoot .locationHistoryDiv {
  display: none;
  top: 10%;
  height: 80%;
  z-index: 99;
  position: absolute;
  overflow-x: hidden;
}
#artmodeRoot .locationHistoryPanel {
  width: 87.5%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.85);
}
#artmodeRoot .mapOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  background-color: rgba(0,0,0,0.5);
  left: auto;
  top: auto;
}
#artmodeRoot .mapOverlayLabel {
  position: relative;
  float: right;
  margin-right: 21%;
  top: 35%;
  font-size: 22pt;
}
#artmodeRoot .lpContents {
  position: relative;
  left: 2.5%;
  top: 2.5%;
  width: 95%;
  height: 95%;
}
#artmodeRoot #lpTitle {
  font-size: 25px;
  margin-bottom: 20px;
}
#artmodeRoot .lpMapDiv {
  position: relative;
  height: 50%;
  border: 1px solid #fff;
  text-align: center;
  background0color: #5e5e5e;
  margin-bottom: 20px;
}
#artmodeRoot .lpTextInfoDiv {
  height: 40%;
  width: 100%;
  float: left;
}
#artmodeRoot .lpTextDiv {
  height: 100%;
  width: 40%;
  overflow: auto;
  float: left;
  font-size: 20px;
}
#artmodeRoot .lpInfoDiv {
  float: left;
  right: 0;
  top: 0;
  padding-left: 2%;
  height: 100%;
  width: 58%;
  overflow: auto;
  font-size: 20px;
}
#artmodeRoot .locationHistoryToggle {
  position: absolute;
  background-color: rgba(0,0,0,0.85);
  top: 45%;
  width: 45px;
  height: 15%;
}
#artmodeRoot .locationHistoryToggleIcon {
  position: absolute;
  top: 35%;
  left: 20%;
  width: auto;
  height: 30%;
}
#artmodeRoot #minimapContainer {
  width: 100%;
  height: 20%;
  background-color: rgba(0,0,0,0.9);
  bottom: 0%;
  left: 0%;
  position: absolute;
  vertical-align: middle;
  border: 1px solid #fff;
}
#artmodeRoot .minimaprect {
  position: absolute;
  border: solid #fff 3px;
  z-index: 50;
}
#artmodeRoot .minimap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0;
  margin: auto;
  bottom: 0%;
  z-index: 10;
}
#artmodeRoot .drawerHeader {
  width: 100%;
  float: left;
}
#artmodeRoot .label {
  font-size: 25%;
  width: 50%;
  float: left;
}
#artmodeRoot .toggleContainer {
  width: 45px;
  position: relative;
  padding-top: 8px;
  float: right;
}
#artmodeRoot .plusToggle {
  width: 23px;
  height: 23px;
}
#artmodeRoot .drawerContents {
  display: none;
  clear: both;
  font-size: 16px;
}
#artmodeRoot .exhibitionPicker {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #000;
  z-index: 10000;
  border: 3px double #fff;
  padding: 1.5%;
  display: block;
}
#artmodeRoot .infoLabel {
  width: 100%;
  color: #fff;
  font-size: 200%;
  margin-bottom: 2%;
}
#artmodeRoot .exhibitionsList {
  width: 100%;
  height: 60%;
  overflow: auto;
  margin-bottom: 2%;
}
#artmodeRoot .cancelButton {
  width: 10%;
  left: 85%;
  top: 89%;
  color: #fff;
  font-size: 140%;
  border-color: #fff;
  position: absolute;
}
#artmodeRoot .exhibitionLabel {
  width: 80%;
  color: #fff;
  font-size: 180%;
}
#artmodeRoot .exhibitions-list-cell {
  width: 100%;
  height: 18%;
  position: relative;
  border: solid transparent;
  border-width: 5px 0px 5px 0px;
  display: inline-block;
  overflow: hidden;
  vertical-align: text-top;
  margin-bottom: 2%;
}
#artmodeRoot .textbox {
  width: 70%;
  height: 100%;
  font-size: 180%;
  display: inline-block;
  word-wrap: '';
  overflow: hidden;
}
#artmodeRoot .imgLoader {
  width: 7.5%;
  height: 100%;
  float: left;
  margin-right: 2.5%;
  margin-left: 6%;
  top: 5%;
  border: 1px solid #000;
  display: inline-block;
}
#artmodeRoot .feedbackContainer {
  width: 100%;
  top: 2.3%;
  position: relative;
  float: left;
}
#artmodeRoot .feedback-text {
  font-size: 25px;
  height: 10%;
  position: relative;
  display: inline;
  vertical-align: middle;
  left: 5%;
}
#artmodeRoot .feedback-icon {
  width: 10%;
  height: auto;
  position: relative;
  display: inline;
  vertical-align: middle;
}
#artmodeRoot #splitscreenContainer {
  font-size: 25px;
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 0.5%;
}
#artmodeRoot .splitscreen-text {
  font-size: 25px;
  height: 10%;
  position: relative;
  display: inline;
  vertical-align: middle;
  left: 5%;
}
#artmodeRoot .splitscreen-icon {
  width: 10%;
  height: auto;
  vertical-align: middle;
  display: inline;
  position: relative;
}
