@import "mixins/common"

#tourRoot
    position absolute

#tourRoot #rinPlayer
    position absolute
    overflow hidden
    width-height 100%

#tourRoot #overlayOnRoot
    position absolute
    left-top 0%
    background-color rgba(255, 0, 0, 1)
    width 100%
    height auto

#tourRoot .tourBack
    position absolute
    height 5%
    left-top 15px

#tourRoot #backButton
    width 100%
    height auto
    position relative