.catalog.root#catalogRoot
	.bgimage
	.overlay
	.header
		.backButtonAreaLoading
			img.progressCircle(src="images/icons/progress-circle.gif")
		.backButtonArea
			img#catalog-back-button(src="images/icons/Back.svg")
		label.exhibitionTitle
	.row1
		#searchFilter
			.filterBox#filterContainer
			input#inputField(value="Keyword search")
		.heatmapDivContainer
			.sortArea
				.dataButton#artistButton Artist
				.dataButton#titleButton Title
				.dataButton#yearButton Year
			.heatmapDiv
			.expandarrowdiv
				img.expandarrow(src="images/icons/MapExpand.jpg")
			.originmapDiv#originmapDiv
	#backgroundSearch
	.timelineDivContainer
		.timelineDiv