#splashRoot
	.background#background
	.overlay
		.logoContainer#logoContainer
			img#logo
		#brownInfoBox
			#expandInfoButton
				img#expandImage(src="images/icons/Left.png")
			label#tagName TAG
			label#fullTag Touch Art Gallery
		// .infoDiv
		//	.infoTextHolder
		//		.startPageInfo#divName
		//			span#museumName
		//		.startPageInfo#subheading
		//			span#museumLocSpan
		//		.startPageInfo#spanContainer
		//			span#museumInfo
		#touchHintDiv
			label#touchHint Tap the screen to begin exploring artworks
			img#handGif(src="images/RippleNewSmall.gif")
	#serverTagBuffer
		#serverSetUpContainer
			label#serverSetUpLabel Change Server
	#authoringTagBuffer
		#authoringModeLabelContainer
			label#authoringModeIcon Authoring Mode